.text-25 {
    font-family: 'Gilroy', sans-serif;
    font-size: 25px;
    font-weight: 900;
    line-height: 30px;
    margin: 0 0 10px 0;
    padding: 0;
}

.text-16 {
    font-family: 'Gilroy', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 25px;
    margin: 0 0 15px 0;
    padding: 0;
}

.text-12 {
    font-family: 'Gilroy', sans-serif;
    font-size: 12px;
    font-weight: 100;
    line-height: 18px;
    margin: 20px 0 0 0;
    padding: 0;
}

.text-center {
    text-align: center;
}

.text-start {
    text-align: start;
}

.text-end {
    text-align: end;
}

.bold {
    font-weight: 800;
}