@inherits LayoutComponentBase;

@inject IUserApiService _userService;
@inject IGameApiService _gameService;

@if (SessionUser.IsLoading || SessionGame.IsLoading || SessionUser.IsNull || SessionGame.IsNull)
{
    <label>Loading...</label>
}
else
{
    @Body
}

@code {
    /// <summary>
    /// On initialized async
    /// </summary>
    protected override void OnInitialized()
    {
        SessionUser.EventHandlerUserChanged += Rerender;
        SessionGame.EventHandlerGameChanged += Rerender;
    }

    /// <summary>
    /// Rerenders page
    /// </summary>
    public void Rerender(object sender, EventArgs e) => InvokeAsync(() => this.StateHasChanged());

    /// <summary>
    /// On after render async
    /// </summary>
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (!firstRender) return;

        if (SessionUser.IsNull) await _userService.SetUser();
        if (!SessionUser.IsNull && SessionGame.IsNull) await _gameService.GetGame(SessionUser.Data.Id);
    }
}